@model EveAccountant.Services.AccountingReport

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Reports</h2>


<div>Revenue: @Model.TotalRevenue.ToString("c")</div>
<div>Cost: @Model.TotalCost.ToString("c")</div>
<div>Profit: @Model.TotalProfit.ToString("c")</div>
<div>Unsold Inventory: @Model.TotalUnsoldInventory.ToString("c")</div>

